body {
    margin: 0;
}

.right-header ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    gap: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Arial';
}

.header-hero, .info, .quote, .footer-signup {
    border: black solid;
    height: 550px;
    flex: 1 1 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.header-hero {
    background-color: #1F2937;
    padding-left: 100px;
    padding-right: 100px;
}

.left-header {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    align-items: center;

}

.right-header {
    font-size: 18px;
    color:#E5E7EB;
    
}

.quote {
    background-color: #E5E7EB;
}