body {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 800px;
    margin: auto;
}
.home-chunk {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
}
.navbar .header{
    margin-right: auto;
    height: 100px;
}
.navbar .navbar-links{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 16px;
}
.first-sub-chunk {
    display: flex;
    flex: auto;
}
.first-sub-chunk .container {
    width: 400px;
    text-align: left;
}
.second-sub-chunk{
    display: flex;
    flex-direction: column;
}
.second-sub-chunk .header {
    margin-bottom:16px;

}
.second-sub-chunk .box-container{
    display: flex;
    gap: 16px;
}
.third-sub-chunk{
    display: flex;
    flex-direction: column;
}
.third-sub-chunk .credits{
    text-align: right;
}
.fourth-sub-chunk {
    display:flex;
    width: 600px;
    justify-content: space-between;
}
.fourth-sub-chunk .sign-up-info{
    text-align: left;
}
.fourth-sub-chunk .sign-up-info .header {
    margin-bottom: 0;
}
.fourth-sub-chunk .sign-up-info .text {
    margin-top: 0;
}
.footer .disclaimer{
    height: 50px;
}